header {
     background-color: yellow;
}

h1 {
    color: royalblue;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
}

#boton-carrito {
    border: none;
    color: royalblue;
    font-size: 15px;
    background-color: black;
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .3s;
}

#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: royalblue;
}

#boton-carrito:focus {
    outline: none;
}

#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    line-height: 1.8;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    overflow-y: scroll;
}

#carrito-contenedor {
    max-height: calc(100vh - 220px);
    overflow-y: scroll;
}


.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
    width: 60%;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: royalblue;
    padding-bottom: 5px;
}

.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: royalblue;
    border: none;
    background-color: white;
}

.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}

.modal-carrito #carritoCerrar:focus {
    outline: none;
}

.modal-carrito .precioProducto {
    padding-top: 10px;

}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.productoEnCarrito:hover {
    border-left: 5px solid royalblue;
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}

.boton-eliminar:focus {
    outline: none;
}

.card-body {
    background-color: pink;
}

.card img {
    height: 350px;
}

.blue {
    color: blue;
}

body {
    background-image: url(https://64.media.tumblr.com/f0bd5bd5538a37f9282040014546bff0/tumblr_obh57nvAU11um9901o1_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
      background-color: wheat;  
}

main p::selection {
    background-color: black;
    color: #2EFE9A
}

main p {
    color: blue;
    font-weight: 600;
    font-size: 16px;
}

.historia-pokemon::first-letter {
    font-size: 160%;
    color: red;
}


main h3 {
    color: #8A0808;
}

.ini {
    font-size: 1.2rem;
    border-radius: 10px;
    color: white;
    background: #360033;  
    background: -webkit-linear-gradient(to right, #0b8793, #360033);
    background: linear-gradient(to right, #0b8793, #360033); 
    font-weight: bolder;
    padding-left: 5px;
    padding-right: 5px;
}


.ini:hover{
    color: red;
     background-color: #DF0174; 
    font-weight: bolder;
    transition: 0.1s;
}

.img-pokemonn{
    margin-left: 500px;
    overflow: hidden;

  }

.prods {
    background-color: black;
}

.img-carritoo {
    height: 60px;
    width: 55px;
}

.p-carritoo {
    color: red;
    font-weight: bold;
}

.precioProductoClass {
    font-weight: bolder;
}

.precioProductoClass2 {
    font-weight: bolder;
}


footer h3 {
    color: blueviolet;
    text-align: center;
    font-weight: 600;
    font-size: 24px
}

footer p {
    font-size: 16px;
    font-weight: 500;
}

footer span {
    color: white;
    display: inline-block;
}

.cabral {
    font-weight: bolder;
}

.footer_informacion {
    background-color: yellow;
}

.footer_contactos {
    background-color: aqua;
}

.footer_direccion {
    background-color: wheat;
}

.footer_direccion p {
    text-align: center;
}

.footer_derechos {
    justify-content: space-between;
    background-color: black;
}

.cabral {
    font-weight: bolder;
    color: white;
    text-align: center;
}

#resultado {
    background-color: wheat;
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}

#imagen-random {
    background-color: wheat;
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}

#scroll-bottom-btn {
    position: fixed;
    bottom: 80px;
    right: 20px;
}

.texto-fight::first-letter {
    font-size: 160%;
    color: #DF7401;
}

.texto-fight::selection {
    background-color: black;
    color: #2EFE9A
}

.scroll-to-bottom {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


#productosAFiltrarr {
    width: 15%;
    background-color: violet;
    color: darkred;
    margin-left: 5%;
    border: solid 2px black;
}

.nav22 {
    padding-left: 5%;
}

 #scroll-down-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: inline-block;
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
}

#scrollBtn {
    position: fixed;
    bottom: 70px;
    right: 10px;
    display: inline-block;
    background-color: yellow;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
} 

.boton-info {
    background-color: yellow;
    cursor: pointer;
    border: none;
    padding: 8px 16px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
}

.boton-foto {
    background-color: yellow;
    cursor: pointer;
    border: none;
    padding: 8px 16px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
}

.boton-info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: arcoiris 20s linear infinite;
}

.boton-foto::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: arcoiris 20s linear infinite;
}

@keyframes arcoiris {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 500% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.container {
    background-color: wheat;
    width: 1200px;
    max-width: 1200px;
}

table {
    background-color: white;
    opacity: 0.9;
}

.listaa {
    font-size: 4em;
    text-align: center;
    border: 4px solid #E6E6E6;
    border-top: 4px solid #F85858;
    border-bottom: 4px solid #5BC0DE;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #333;
    background: linear-gradient(to right, #FF0000, #F5A623, #F5A623, #F8E71C, #8BDE67, #1DB2B2, #3C5DC5, #7B32A8);
    color: transparent;
    text-shadow: 0px 0px 5px #fff;
    animation: flour 0.7s ease-in-out infinite alternate;
    letter-spacing: 2px;
    margin: 50px auto;
    padding: 20px;
}

@keyframes flour {
    from {
        color: #fff;
        text-shadow: 0px 0px 5px #fff, 0px 0px 10px #fff, 0px 0px 15px #fff, 0px 0px 20px #FF77FF, 0px 0px 30px #FF77FF, 0px 0px 40px #FF77FF, 0px 0px 55px #FF77FF, 0px 0px 75px #FF77FF;
    }

    to {
        color: #fff;
        text-shadow: 0px 0px 5px #fff, 0px 0px 10px #fff, 0px 0px 15px #fff, 0px 0px 20px #F85858, 0px 0px 30px #F85858, 0px 0px 40px #F85858, 0px 0px 55px #F85858, 0px 0px 75px #F85858;
    }
}



.pikachuu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-galaxia-acuarela-pintada-mano_52683-63441.jpg);
    background-size: contain;
    background-color: white;
    width: 100%;
    height: 20vh;
}


.pikachuu .pika-arcoiris {
    width: 200px;
    animation: pikachu-volando 3.5s linear infinite;
}

@keyframes pikachu-volando {
    0% {
        transform: translateX(0%) translateY(0%);
    }

    12.5% {
        transform: translateX(130%) translateY(-50%);
    }

    25% {
        transform: translateX(260%) translateY(0%);
    }

    37.5% {
        transform: translateX(360%) translateY(50%);
    }

    50% {
        transform: translateX(500%) translateY(0%) scale(0);
    }

    62.5%, 75%, 77.5%, 90%, 100% {
        transform: scale(0);
    }
}

.poke-bola {
    width: 100px;
    position: relative;
    animation: pokebola 3.5s linear infinite;
}


@keyframes pokebola {
    0%, 4.165%, 8.33%, 12.495%, 16.66%, 20.825%, 24.99%, 29.155%, 33.32%, 37.485%, 41.65%, 45.815%, 49.98%, 54.145% {
        transform: scale(1);
    }
    
    58.31%, 62.475%, 66.64%, 70.805%, 74.97%, 79.135%, 83.3%, 87.465%, 91.63%, 95.795%, 100% {
        transform: scale(0);
    }   
}
    

.pikachu-espacio {
    position: absolute;
    left: 73%;
    width: 139px;
    animation: espacio 3.5s infinite;
}

@keyframes espacio {

    0%, 12.5%, 25%, 37.5%, 50%, 62.5% {
        transform: scale(0);
    }

    75%, 77.5%, 90%, 100% {
        transform: scale(1.1);
    }
}


.reloj-stilo{
    width: 80%;
     margin: auto;
     background-image: url(../img/cuarto-pokemon.jpeg);
     background-repeat: no-repeat;
     background-size: cover;
     margin-bottom: 4%;
}


#reloj {
    background-color: black;
    color: red;
    border-radius: 10px;
    font-weight: bolder;
    padding: 5px;
    font-size: 2rem;
    position: absolute; 
    margin-top: 130px;
    margin-right: 40px;

    border: 1px solid transparent;
    animation: reloj-poke 1.5s infinite;
  } 
  
  @keyframes reloj-poke {
    0% {
      box-shadow: 0 0 0 0 #f00, 0 0 0 0 #0f0, 0 0 0 0 #00f;
    }
    25% {
      box-shadow: 0 0 0 10px #f00, 0 0 0 0 #0f0, 0 0 0 0 #00f;
    }
    50% {
      box-shadow: 0 0 0 10px #f00, 0 0 0 10px #0f0, 0 0 0 0 #00f;
    }
    75% {
      box-shadow: 0 0 0 10px #f00, 0 0 0 10px #0f0, 0 0 0 10px #00f;
    }
    100% {
      box-shadow: 0 0 0 0 #f00, 0 0 0 0 #0f0, 0 0 0 0 #00f;
    }
  } 

  
